In [1]:
import sys
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt

In [4]:
ad = pd.read_csv("datasets/AD/Test.csv")

In [5]:
ad

,id,realtionship_status,industry,genre,targeted_sex,average_runtime(minutes_per_week),airtime,airlocation,ratings,expensive,money_back_guarantee
0,1,Widowed,Auto,Comedy,Female,10,Daytime,United-States,0.027465,Low,No
1,4,Married-civ-spouse,Pharma,Comedy,Male,40,Morning,United-States,0.056262,High,Yes
2,5,Divorced,Entertainment,Comedy,Female,50,Morning,United-States,0.027465,Low,No
3,9,Married-civ-spouse,Pharma,Infomercial,Male,40,Primetime,United-States,0.027465,Low,No
4,10,Married-civ-spouse,Pharma,Comedy,Male,40,Primetime,United-States,0.027465,Low,Yes
...,...,...,...,...,...,...,...,...,...,...,...
6508,32538,Never-married,Political,Comedy,Male,40,Morning,United-States,0.027465,High,No
6509,32542,Never-married,Political,Comedy,Male,80,Morning,United-States,0.027465,Low,No
6510,32549,Never-married,Political,Comedy,Male,40,Morning,United-States,0.027465,High,No
6511,32558,Married-civ-spouse,Pharma,Comedy,Male,40,Primetime,United-States,0.027465,High,Yes
6512,32560,Married-civ-spouse,Pharma,Infomercial,Male,40,Primetime,United-States,0.027465,High,No