In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import sklearn
import matplotlib.pyplot as plt

In [2]:
test = pd.read_csv("datasets/AD/Test.csv")
train = pd.read_csv("datasets/AD/Train.csv")

In [3]:
print('total train data: ' + str(train.shape[0]))
print('total test data: ' + str(test.shape[0]))

total train data: 26048
total test data: 6513

In [4]:
train.sample(5)

,id,realtionship_status,industry,genre,targeted_sex,average_runtime(minutes_per_week),airtime,airlocation,ratings,expensive,money_back_guarantee,netgain
20772,26873,Married-civ-spouse,Pharma,Comedy,Male,25,Morning,Puerto-Rico,0.027465,Medium,No,False
4869,19794,Divorced,Entertainment,Drama,Male,56,Primetime,South,0.027465,Low,Yes,False
3143,1695,Never-married,ClassAction,Comedy,Male,40,Morning,United-States,0.027465,High,No,False
16446,30962,Married-civ-spouse,Pharma,Comedy,Male,50,Morning,United-States,0.027465,Low,Yes,False
4787,26050,Never-married,Political,Comedy,Male,25,Morning,United-States,0.027465,Medium,No,False

In [5]:
train.describe()

                 id  average_runtime(minutes_per_week)       ratings
count  26048.000000                       26048.000000  26048.000000
mean   16268.744779                          40.294111      0.038716
std     9413.578020                          12.479457      0.075852
min        2.000000                           1.000000      0.000000
25%     8095.750000                          40.000000      0.027465
50%    16237.000000                          40.000000      0.027465
75%    24413.500000                          45.000000      0.027465
max    32561.000000                          99.000000      1.000000

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26048 entries, 0 to 26047
Data columns (total 12 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   id                                 26048 non-null  int64
 1   realtionship_status                26048 non-null  object
 2   industry                           26048 non-null  object
 3   genre                              26048 non-null  object
 4   targeted_sex                       26048 non-null  object
 5   average_runtime(minutes_per_week)  26048 non-null  int64
 6   airtime                            26048 non-null  object
 7   airlocation                        26048 non-null  object
 8   ratings                            26048 non-null  float64
 9   expensive                          26048 non-null  object
 10  money_back_guarantee               26048 non-null  object
 11  netgain                            26048 non-null  bool
dtypes: bool(1), float64(1), int64(2), object(8)
memory usage: 2.2+ MB

# Пропусков нет

In [7]:
train.isnull().sum()

id                                   0
realtionship_status                  0
industry                             0
genre                                0
targeted_sex                         0
average_runtime(minutes_per_week)    0
airtime                              0
airlocation                          0
ratings                              0
expensive                            0
money_back_guarantee                 0
netgain                              0
dtype: int64

In [8]:
train.shape

(26048, 12)

In [9]:
train.nunique()

id                                   26048
realtionship_status                      7
industry                                 6
genre                                    5
targeted_sex                             2
average_runtime(minutes_per_week)       91
airtime                                  3
airlocation                             42
ratings                                125
expensive                                3
money_back_guarantee                     2
netgain                                  2
dtype: int64

In [10]:
from sklearn import preprocessing

le1 = preprocessing.LabelEncoder()
le1.fit(train['realtionship_status'])
list(le1.classes_)
train['realtionship_status'] = le1.transform(train['realtionship_status'])
train.head()

,id,realtionship_status,industry,genre,targeted_sex,average_runtime(minutes_per_week),airtime,airlocation,ratings,expensive,money_back_guarantee,netgain
0,19717,3,Auto,Comedy,Male,45,Primetime,United-States,0.027465,High,No,False
1,31593,2,Pharma,Comedy,Male,45,Primetime,United-States,0.027465,Low,No,False
2,5681,0,Entertainment,Comedy,Female,45,Primetime,United-States,0.027465,High,Yes,False
3,15491,5,Political,Infomercial,Female,40,Primetime,United-States,0.027465,Low,No,False
4,23587,2,Pharma,Comedy,Male,48,Primetime,United-States,0.027465,High,No,True